<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form action = "/players/{{player['id']}}" method = "POST">
    <input type ='text' name = 'first_name' value = "{{player['first_name']}}">
    <input type ='text' name = 'last_name' value = "{{player['last_name']}}">
    <input type ='text' name = 'jersey' value = "{{player['jersey']}}">
    {% if not player['team'] %}
    <input type ='text' name = 'team' placeholder = "TEAM!">
    {% endif %}
    <input type = "submit" value = 'update'>
  </form>
</body>
</html>
